// 變數
$fs: 1rem;
$c-main: #E24973;
$c-main-dark: $c-main*0.9;
$c-main-linear: linear-gradient(to right, 
rgba($color: $c-main, $alpha: 0) 0% ,
rgba($color: $c-main, $alpha: 1) 10% ,
rgba($color: $c-main, $alpha: 1) 90% ,
rgba($color: $c-main, $alpha: 0) 100% );
$c-error-linear: linear-gradient(to right, 
rgba($color: #d4414e, $alpha: 0) 0% , 
rgba($color: #d4414e, $alpha: 1) 10% ,
rgba($color: #d4414e, $alpha: 1) 90% ,
rgba($color: #d4414e, $alpha: 0) 100% );